body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.formulario {
  position: relative;

 
}

input,
select,
textarea {
  border-radius: 5px;
}

.bg-image {
  /* display: flex; */
  opacity: 0.3;
  width: 100%;
  height: auto;
  background-repeat: repeat;

 
}

h1{
  text-shadow:3px 2px 5px rgb(26, 117, 188);
}

form {
  position: absolute;
  top: 30px;
  left: 20px;
}

/* ===== SECCION FOOTER ===== */

.footer {
  display: flex;
  background: rgb(64, 64, 64);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

footer li {
  display: flex;
  justify-content: center;
  align-content: center;
}
.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item a:hover {
  color: rgb(69, 243, 255);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(181, 181, 181);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 117, 188);
}
